<a href="https://colab.research.google.com/github/adhalya/consolidacao_de_dados_de_clientes/blob/main/Consolida%C3%A7%C3%A3o_de_Dados_de_Clientes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Um cliente entrou em contato comigo dizendo que precisa unificar 3 a 4 listas de clientes em um único arquivo Excel. Embora aproximadamente 70% dos registros coincidam em nome e NIF, há informações complementares que não podem ser perdidas. É essencial que o arquivo final não contenha duplicatas do mesmo cliente, garantindo que cada cliente apareça apenas uma vez, consolidando todas as informações disponíveis.

Para demonstrar como resolvi o seu problema, criei 3 pequenas planilhas que serão utilizadas no código a seguir.

In [2]:
import pandas as pd

Importando arquivos .xlsx

In [20]:
df_janeiro = pd.read_excel('/content/Sales_January.xlsx')
df_fevereiro = pd.read_excel('/content/Sales_February.xlsx')
df_marco = pd.read_excel('/content/Sales_March.xlsx')

Visualizando datasets

In [6]:
df_janeiro.head()

           Cliente        NIF              Email   Telefone  Valor_Janeiro
0     Empresa Alfa  501234567     alfa@email.com  912345678           1200
1     Empresa Beta  502345678     beta@email.com  923456789            850
2     Empresa Gama  503456789     gama@email.com  934567890            430
3    Empresa Delta  504567890    delta@email.com  945678901           2200
4  Empresa Épsilon  505678901  epsilon@email.com  956789012            760

In [8]:
df_fevereiro

        Cliente        NIF   Morada   Telefone  Valor_Fevereiro
0  Empresa Alfa  501234567   Lisboa  912345678             1500
1  Empresa Beta  502345678    Porto  923456789              920
2  Empresa Gama  503456789  Coimbra  934567890              610
3  Empresa Zeta  506789012    Braga  967890123              400
4   Empresa Eta  507890123     Faro  978901234              300

In [9]:
df_marco

         Cliente        NIF            Email   Gestor_Conta  Valor_Marco
0   Empresa Alfa  501234567   alfa@email.com   Carlos Silva          980
1   Empresa Beta  502345678   beta@email.com      Ana Costa         1100
2  Empresa Delta  504567890  delta@email.com    João Mendes         1750
3   Empresa Zeta  506789012   zeta@email.com  Mariana Lopes          620
4  Empresa Theta  508901234  theta@email.com    Rui Almeida          540

In [13]:
df_concatenado = pd.concat([df_janeiro, df_fevereiro, df_marco], ignore_index=True)

df_final = (
    df_concatenado
    .sort_values("NIF")
    .groupby("NIF", as_index=False)
    .agg(lambda x: x.dropna().iloc[0] if not x.dropna().empty else None)
)

In [14]:
df_final

,NIF,Cliente,Email,Telefone,Valor_Janeiro,Morada,Valor_Fevereiro,Gestor_Conta,Valor_Marco
0,501234567,Empresa Alfa,alfa@email.com,912345678.0,1200.0,Lisboa,1500.0,Carlos Silva,980.0
1,502345678,Empresa Beta,beta@email.com,923456789.0,850.0,Porto,920.0,Ana Costa,1100.0
2,503456789,Empresa Gama,gama@email.com,934567890.0,430.0,Coimbra,610.0,None,NaN
3,504567890,Empresa Delta,delta@email.com,945678901.0,2200.0,None,NaN,João Mendes,1750.0
4,505678901,Empresa Épsilon,epsilon@email.com,956789012.0,760.0,None,NaN,None,NaN
5,506789012,Empresa Zeta,zeta@email.com,967890123.0,NaN,Braga,400.0,Mariana Lopes,620.0
6,507890123,Empresa Eta,None,978901234.0,NaN,Faro,300.0,None,NaN
7,508901234,Empresa Theta,theta@email.com,NaN,NaN,None,NaN,Rui Almeida,540.0

Ordenando as colunas

In [18]:
df_final = df_final[["NIF", "Cliente", "Email", "Telefone", "Morada", "Gestor_Conta", "Valor_Janeiro", "Valor_Fevereiro", "Valor_Marco"]]

In [19]:
df_final.to_excel("Clientes.xlsx", index=False)